<article class="home">
	<h1>Welcome to our Site!</h1>
	<p id="homeTitle">Below are some of the books currently for sale</p>
	<div>
		<ul class="display_books">
	    {{#each books}}
		      <li class="book"><a class="bookname" href="books/{{this._id}}">{{this.name}} <span style="font-weight: normal">by</span> <span style="font-style: italic; font-weight: normal ">{{this.author}}</span></a></li>
	    {{/each}}
	</ul>
	{{#if errror}}
	{{error}}
	{{/if}}
	</div>
</article>
{{#if error}}
{{error}}
{{/if}}
