<article class="search">
    <form method="post">
        <p id="h3">Search for a book</p>
        <fieldset>
            <label for="Course" class="labelitem">Course:</label>
              <select name="Course" id="Course" required>
                <option value="" selected disabled>Choose a Course</option>
                {{#each courses}}
                    <option value={{this._id}}>{{this.courseName}}</option>
                {{/each}}
              </select><br /> 
        </fieldset>
        <button type="submit" class="button btn btn-warning btn-lg">search</button>
    </form>
    <hr>
    {{#if this.books}}
    <table class="table">
        <tr>
            <th>Book Title</th>
            <th>Book Author</th>
            <th></th>
        </tr>
        {{#each this.books}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.author}}</td>
            <td><a href="books/{{this._id}}"><button class="button btn btn-warning">Buy</button></a></td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</article>  