<article class="singleBook">
	<p id="infoMessage" class="bg-info hidden"></p>
	<p id="h3">{{books.name}}</p>
	<p id="h4">{{books.author}}</p>
	{{#if books.courses}}
	<p id="h3">Course Info</p>
	<table class="table">
		<tr>
			<th>Course Id</th>
			<th>Course Name</th>
			<th>Professor</th>
		</tr>
		{{#each books.courses}}
		<tr>
			<td>{{this.courseId}}</td>
			<td>{{this.courseName}}</td>
			<td>{{this.professor}}</td>
		</tr>
		{{/each}}
	</table>
	{{else}}
	<p>There is no information about courses related to this book</p>
	{{/if}}

	{{#if prices}}
	<h3>Available Sellers</h3>
	<table class="table">
		<tr>
			<th>Seller Username</th>
			<th>Condition</th>
			<th>Price</th>
			<th>Purchase</th>
		</tr>
		{{#each prices}}
		<tr>
			<td>{{this.sellerUsername}}</td>
			<td>{{this.condition}}</td>
			<td>{{this.price}}</td>
			<td>
				{{!--<a href="/addToCart/{{this.sellerId}}/{{this.sellerBookId}}">--}}
					<button type="button" class="btn btn-success addToCartBtn" sellerId="{{this.sellerId}}" sellerBookId="{{this.sellerBookId}}">Add to Cart</button>
				{{!--</a>--}}
			</td>
		</tr>
		{{/each}}
	</table>
	{{else}}
	<p>There is no information about courses related to this book</p>
	{{/if}}

</article>