<p class="h3">Welcome {{this.user.profile.name}}!</p>
	<div id="profileImage">
		{{#if this.user.profile.profileImage}}
			<img id="userImage" src="/userImage/{{user._id}}" alt="User Profile Image">
		{{else}}
			<img id="userImage" src="/userImage/stock-avatar" alt="User Profile Image">
		{{/if}}
	</div>
	<form method="post" enctype="multipart/form-data" action="/upload">
		<label class="btn btn-default btn-file">
			<input type="file" name="file">
	</label>
	<input type="submit" value="Upload Image" class="btn btn-primary">	
	</form>

	<p class="h4">Book Inventory</p>
	<form style="display: inline" action="/addBook" method="get">
		<button class="btn btn-primary">Add Book</button>
	</form>

		{{#if user.profile.books}}
			<table class="table inventory-table">
			<tr>
				<th>Book Name</th>
				<th>Author</th>
				<th>Condition</th>
				<th>Price</th>
				<th>Operations</th>
			</tr>
		{{#each user.profile.books}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.author}}</td>
				<td>{{this.condition}}</td>
				<td>${{this.price}}</td>
				<td>
					<form action="/deleteBook" method="post">
						<a href="/editBook/{{this._id}}"><button type="button" class="btn btn-success">Edit</button></a>
						<input type="hidden" name="userBookID" value="{{this._id}}"/>
						<a href="/deleteBook"><button type="submit" class="btn btn-danger">Delete</button></a>
					</form>
				</td>
			{{/each}}
			</tr>
		</table>
		{{else}}
		<p>You currently have no books in your inventory!</p>
		{{/if}}

	{{#if error}}
		{{error}}
		{{/if}}
