<h3>Welcome {{this.user.profile.name}}!</h3>
<img src="{{users.profileImage}}" width="200" />

	<h4>Book Inventory</h4>
	<a href="/addBook"><button class="btn btn-primary">Add Book</button></a>
</form>

		{{#if user.profile.books}}
			<table class="table inventory-table">
			<tr>
				<th>Book Name</th>
				<th>Author</th>
				<th>Condition</th>
				<th>Price</th>
				<th>Operations</th>
			</tr>
		{{#each user.profile.books}}
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.author}}</td>
				<td>{{this.condition}}</td>
				<td>${{this.price}}</td>
				<td>
					<form method="get">
						<a href="/editBook/{{this._id}}"><button type="button" class="btn btn-success">Edit</button><a>
						<input type="hidden" name="userBookID" value="{{this._id}}"/>
						<a href="/deleteBook"><button type="submit" class="btn btn-danger">Delete</button></a>
					</form>
				</td>
			{{/each}}
			</tr>
		</table>
		{{else}}
		<p>You currently have no books in your inventory!</p>
		{{/if}}

	{{#if error}}
		{{error}}
		{{/if}}
